language: java

jdk:
  - openjdk15

sudo: false

env:
  global:
    - CODECOV_TOKEN="a9f03a34-9919-454d-aac1-8fdaa1bcc9cf"

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      -danisevich.e@gmail.com
    on_success: never # default: change
    on_failure: always # default: always